Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"]
}

Add radix parameter to all parseInt calls; enable ESLint radix rule
  eslint.config.mjs
  src/flightlog_parser.js
  src/flightlog_video_renderer.js
  src/graph_map.js
  src/graph_spectrum.js
  src/grapher.js
  src/laptimer.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud: default params last, regex backtracking, wrong capture group
  src/flightlog_parser.js
  src/tools.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix ~100 SonarCloud issues across 17 files
  src/components/SpectrumAnalyser.vue
  src/craft_2d.js
  src/craft_3d.js
  src/expo.js
  src/fft_complex.js
  src/flightlog.js
  src/flightlog_parser.js
  src/graph_config.js
  src/graph_map.js
  src/graph_spectrum.js
  src/graph_spectrum_calc.js
  src/grapher.js
  src/imu.js
  src/main.js
  src/screenshot.js
  src/seekbar.js
  src/tools.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud regex backtracking hotspots in flightlog_parser.js (S5852)
  src/flightlog_parser.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix remaining SonarCloud issues: Vue components, negated conditions, for-of
  src/components/ConfigurationPanel.vue
  src/components/FieldValuesPanel.vue
  src/components/HeaderDialog.vue
  src/components/LegendPanel.vue
  src/fft_complex.js
  src/flightlog_parser.js
  src/grapher.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Make legend reopen control keyboard-accessible: span → button
  src/components/LegendPanel.vue
Due: none

Make legend visibility toggle keyboard-accessible: span → button
  src/components/LegendPanel.vue
Due: none

Guard against null/undefined in PercentInput emit
  src/components/PercentInput.vue
Due: none

Add FileReader error/abort handlers in configuration loaders
  src/configuration.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Reject non-finite n in FFTComplex constructor
  src/fft_complex.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Reject non-finite strides in FFTComplex.process()
  src/fft_complex.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

HeaderDialog: show only enabled features and disabled fields
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: replace Unknown Headers with full searchable header list
  src/components/HeaderDialog.vue
  src/components/UiBox.vue
Due: none

HeaderDialog: grouped All Headers with visibility toggles
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: flatten to 17 draggable panes with CSS columns layout
  package-lock.json
  package.json
  src/components/HeaderDialog.vue
Due: prettier --write --ignore-unknown

Fix null crash in document drop handler when entry is unavailable
  src/App.vue
Due: none

HeaderDialog: convert All Headers table to UTable with UButton toggles
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: hide fields from panes when disabled in All Headers
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: remove collapsible arrows from pane panels
  src/components/HeaderDialog.vue
Due: none

Fix USelect dropdowns hidden behind modal overlay with z-index
  src/components/GraphConfigDialog.vue
  src/components/UserSettingsDialog.vue
  src/components/VideoExportDialog.vue
Due: none

HeaderDialog: fix rate_limits mapped to wrong group in All Headers
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: pin eye toggle to right edge in All Headers rows
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: merge all PID rows into single table, remove section labels
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: reorganize groups into PID Controller, merge Parameters+Other
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: fix SonarCloud issues (braces, push calls, complexity)
  src/components/HeaderDialog.vue
Due: none

Fix all SonarCloud issues: that=this, duplicate branches, params, complexity
  src/components/HeaderDialog.vue
  src/fft_complex.js
  src/flightlog.js
  src/flightlog_parser.js
  src/graph_config.js
  src/grapher.js
  src/imu.js
  src/laptimer.js
  src/sticks.js
  src/tools.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix 29 SonarCloud issues: complexity, parseInt, braces, optional chaining
  src/components/HeaderDialog.vue
  src/flightlog.js
  src/flightlog_parser.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

HeaderDialog: include missing sections in clipboard export
  src/components/HeaderDialog.vue
Due: none

HeaderDialog: restore column count after drag reorder
  src/components/HeaderDialog.vue
Due: none

Fix remaining SonarCloud issues: params, complexity, negated conditions
  src/flightlog.js
  src/flightlog_parser.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10g.1: Move video state from closure vars to Pinia stores
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10g.2: Move workspace state from closure vars to Pinia stores
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10g.3: move flightLog, flightLogDataArray, hasLog to logStore
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10g.4: move activeGraphConfig to graphStore
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10g.5: move graphState and currentBlackboxTime to stores
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10g.6+7: replace syncToStores with computed getters, eliminate bridge
  src/main.js
  src/stores/graph.js
  src/stores/log.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10h.1: move pure state toggles out of controller bridge
  src/App.vue
  src/components/LegendPanel.vue
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10h.2: move view toggles with renderer deps out of controller
  src/App.vue
  src/components/SpectrumAnalyser.vue
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10h.3: move legend methods out of controller bridge
  src/components/LegendPanel.vue
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

10h.4-10: move all remaining controller methods to store callbacks
  src/App.vue
  src/components/LegendPanel.vue
  src/components/SeekBarToolbar.vue
  src/components/SpectrumAnalyser.vue
  src/dark_theme.js
  src/grapher.js
  src/main.js
  src/stores/app.js
  src/stores/graph.js
  src/stores/playback.js
  src/stores/workspace.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js
