Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Address CodeRabbit review: ESM compat, type consistency, a11y, dead code
  src/components/ConfigurationPanel.vue
  src/components/PlaybackControls.vue
  src/components/ViewControls.vue
  src/stores/graph.js
  src/stores/log.js
  src/stores/playback.js
  src/stores/workspace.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Convert header dialog from fullscreen modal to inline overlay panel
  src/App.vue
  src/components/HeaderDialog.vue
  src/components/ViewControls.vue
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud issues: contrast, complexity, type safety, NOSONAR
  src/components/UserSettingsDialog.vue
  src/css/main.css
  src/grapher.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix CSS contrast: use solid dark background for CF legend in dark mode
  src/css/main.css
Due: prettier --write --ignore-unknown

Fix header panel position to not overlap toolbar buttons
  src/components/HeaderDialog.vue
Due: none

Make View buttons mutually exclusive: header, table, config close each other
  src/App.vue
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Watch all externally-openable dialogs for legacy state refresh
  src/App.vue
Due: none

Add toggle state feedback and migrate userSettings to Pinia store
  src/App.vue
  src/components/UserSettingsDialog.vue
  src/components/ViewControls.vue
  src/main.js
  src/stores/graph.js
  src/stores/settings.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud: use structuredClone in onSave, remove unused import
  src/components/UserSettingsDialog.vue
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix screenshot filename fallback when log filename is blank
  src/screenshot.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix seekbar drag listener leaks on destroy and touchcancel
  src/seekbar.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix hasWorkspace returning true for unset slots
  src/stores/workspace.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Eliminate globalThis.userSettings bridge — import Pinia store directly
  src/craft_2d.js
  src/craft_3d.js
  src/flightlog_fields_presenter.js
  src/flightlog_video_renderer.js
  src/graph_legend.js
  src/graph_map.js
  src/graph_spectrum.js
  src/graph_spectrum_calc.js
  src/graph_spectrum_plot.js
  src/main.js
  src/sticks.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Eliminate globalThis.vueApp and globalThis.blackboxLogViewer bridges
  src/App.vue
  src/components/LegendPanel.vue
  src/components/SpectrumAnalyser.vue
  src/dark_theme.js
  src/grapher.js
  src/main.js
  src/stores/app.js
  src/stores/playback.js
  src/vue_init.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud: remove zero fractions, suppress unused instantiation
  src/graph_spectrum.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Use UTable consistently in HeaderDialog, extract PidTable component
  src/components/HeaderDialog.vue
  src/components/ParamTable.vue
  src/components/PidTable.vue
Due: none

Convert FieldValuesPanel to UTable, push data via Pinia store
  src/components/FieldValuesPanel.vue
  src/css/main.css
  src/main.js
  src/stores/log.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix structuredClone on reactive proxy in UserSettingsDialog onSave
  src/components/UserSettingsDialog.vue
Due: none

Fix dark mode badge selectors that could never match
  src/css/main.css
Due: prettier --write --ignore-unknown

Sync graphStore immediately on craft/sticks toggle
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix race in saveSetting by persisting in-memory snapshot directly
  src/stores/settings.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace globalThis FIRMWARE_TYPE constants with ES imports
  src/components/HeaderDialog.vue
  src/flightlog.js
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/flightlog_parser.js
  src/tools.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix analyser zoom sliders: vertical orientation, Vue-controlled visibility
  src/components/SpectrumAnalyser.vue
  src/css/main.css
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Disable PWA service worker in dev mode to prevent stale cache
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix inverted newGraphConfig redraw param, guard flightLog access, deep-merge settings
  src/main.js
  src/stores/settings.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Clone workspace presets before assigning to mutable state
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix logJumpBack/Forward no-op: pass null instead of false
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Clear analyser fullscreen state when analyser is turned off
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix legend reopen button: position above canvas, explicit display on hide
  src/css/main.css
  src/graph_legend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Collapse workspace save into entries with trailing check and save icons
  src/components/WorkspacePanel.vue
Due: none

Restyle analyser toolbar: dropdown menu, dark buttons, Y slider below minimize
  src/components/SpectrumAnalyser.vue
  src/css/main.css
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Center Speed and Zoom sliders at 100% using piecewise-linear mapping
  src/components/SpeedPanel.vue
  src/components/ZoomPanel.vue
Due: none

Sonar
  src/components/SpeedPanel.vue
  src/components/ZoomPanel.vue
Due: none

Restructure User Settings dialog with configurator patterns
  src/components/PercentInput.vue
  src/components/PositionInputs.vue
  src/components/SettingRow.vue
  src/components/UiBox.vue
  src/components/UserSettingsDialog.vue
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Restructure Header Dialog: 6-column layout, collapsible panes, column picker
  src/components/FeatureTable.vue
  src/components/HeaderDialog.vue
  src/components/ParamTable.vue
  src/components/PidTable.vue
  src/components/UiBox.vue
Due: none

Rewrite Field Values panel: Pinia-driven visibility, UiBox panes, single-column data
  index.html
  src/App.vue
  src/components/FieldValuesPanel.vue
  src/css/main.css
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Migrate Configuration panel to Vue: Pinia store, Tailwind overlay, remove legacy DOM
  index.html
  src/App.vue
  src/components/ConfigurationPanel.vue
  src/configuration.js
  src/css/main.css
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Migrate graph legend to Vue: delete graph_legend.js, rewrite LegendPanel.vue with Pinia store
  index.html
  src/components/GraphLegend.vue
  src/components/LegendPanel.vue
  src/css/main.css
  src/graph_legend.js
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Migrate spectrum analyser to Vue: remove hidden elements, interceptors, and DOM positioning
  src/components/SpectrumAnalyser.vue
  src/css/main.css
  src/graph_spectrum.js
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove legacy bridge code: SeekBarToolbar, log index picker, dead DOM references
  src/components/LegendPanel.vue
  src/components/SeekBarToolbar.vue
  src/css/main.css
  src/flightlog.js
  src/graph_spectrum_calc.js
  src/main.js
  src/stores/log.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
