Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix semver (#858)
  src/flightlog.js
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/flightlog_parser.js
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add GPS Rescue debug fields
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Further updates
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update app version
  package.json
Due: prettier --write --ignore-unknown

Add missing GPS Rescue Throttle PID debug fields (#859)
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update app version (#860)
  package.json
Due: prettier --write --ignore-unknown

Update MAG_HARDWARE
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

remove export
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add gyro_enabled_bitmask to header dialog
  index.html
  src/flightlog_parser.js
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

CR review
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

CR review II
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Review sonar
  index.html
  src/flightlog_parser.js
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace gyro_to_use with gyro_enabled_bitmask in header dialog (#862)
  index.html
  src/flightlog_parser.js
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update MAG_HARDWARE (#861)
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update node and github actions
  .github/workflows/deploy-preview.yml
  .nvmrc
  package.json
Due: prettier --write --ignore-unknown

Update node
  .nvmrc
  package.json
Due: prettier --write --ignore-unknown

Update node and github actions (#863)
  .github/workflows/deploy-preview.yml
  .nvmrc
  package.json
Due: prettier --write --ignore-unknown

Added TELEMETRY_MAVLINK debug fields settings
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Resolved SonarCloud notices
  src/flightlog_fielddefs.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Code style improvement
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added TELEMETRY_MAVLINK debug fields settings (#864)
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix typo in seekbar tooltip: 'Vaue' -> 'Value'
  index.html
Due: prettier --write --ignore-unknown

Fix typo in seekbar tooltip: 'Vaue' -> 'Value' (#865)
  index.html
Due: prettier --write --ignore-unknown

DEPLOYMENT: Updating deployment to build on push
  .github/workflows/deploy.yml
Due: none

Enhance README with build and Discord badges
  README.md
Due: prettier --write --ignore-unknown

Using of number input field for PSD segments lengthpower at 2 value
  index.html
  src/css/main.css
  src/graph_spectrum.js
  src/graph_spectrum_calc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

removed useless variable
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Code improvement: Use Number.parseInt
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Resolved issue computing PSD for full file length segment size
  src/graph_spectrum.js
  src/graph_spectrum_calc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added debounce in analyserSegmentLengthPowerAt2.on handler
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added checking maximalSegmentsLength values before log2
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update master build URL in README.md
  README.md
Due: prettier --write --ignore-unknown

Using of number input field for PSD segments length (#867)
  index.html
  src/css/main.css
  src/graph_spectrum.js
  src/graph_spectrum_calc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

QMC5883P uses QMC5883 unified driver (for L and P variants)
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

QMC5883P uses QMC5883 unified driver (for L and P variants) (#868)
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Correct error in Supafly/GyroSetpoint default configuration
  src/ws_supafly.json
Due: prettier --write --ignore-unknown

Correct error in Supafly/GyroSetpoint default configuration (#871)
  src/ws_supafly.json
Due: prettier --write --ignore-unknown

Added friendly names and units conversion for GPS_velned fields
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added min-max values for GPS_velned fields
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
