Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Code issues are resolved
  src/graph_spectrum_plot.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Code style improvement
  src/graph_imported_curves.js
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

The simple PSD spectrum comparison of one log file data (#847)
  index.html
  src/graph_imported_curves.js
  src/graph_legend.js
  src/graph_spectrum.js
  src/graph_spectrum_plot.js
  src/grapher.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added spin button into number input fields of users settings dialog
  src/css/user_settings_dialog.css
Due: prettier --write --ignore-unknown

CSS style is improved
  src/css/user_settings_dialog.css
Due: prettier --write --ignore-unknown

Show spin buttons into number input fields of users settings dialog (#848)
  src/css/user_settings_dialog.css
Due: prettier --write --ignore-unknown

don't show old installable version on index.html
  index.html
Due: prettier --write --ignore-unknown

coderabbitAI recommends (partial)
  index.html
Due: prettier --write --ignore-unknown

revert latest version, but call it latest official release
  index.html
Due: prettier --write --ignore-unknown

don't show old installable version on index.html (#850)
  index.html
Due: prettier --write --ignore-unknown

update names for rc_smoothing, rx_timing and feedforward
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fixes from codeRabbit review
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

typo
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix jitter value
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

add graph scaling
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix typo
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

groan
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

more changes
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

again
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

correct scale for counters
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

tweaks
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

more tweaks
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

and more
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

RC filter update
  index.html
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

RC filter update (#852)
  index.html
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update names for rc_smoothing, rx_timing and feedforward (#851)
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Resolved vertical sliders issue on Mozila firefox browser
  src/css/main.css
Due: prettier --write --ignore-unknown

Resolved sliders rotation angle units issue
  src/css/main.css
Due: prettier --write --ignore-unknown

Resolved vertical sliders issue on Mozila firefox browser (#854)
  src/css/main.css
Due: prettier --write --ignore-unknown

Update deploy command to use pull request number
  .github/workflows/deploy-preview.yml
Due: none

Resolved issue of mouse scrolling on Mobile firefox
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Resolved issue of mouse scrolling on Mozila firefox (#856)
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Code improvements
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Standardize radix and avoid repeated parses of indices
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Sonar nitpicks
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add fallback for window
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix bookmark logic
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix semver
  src/flightlog.js
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/flightlog_parser.js
  src/header_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Split parsing
  src/flightlog_parser.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Code improvements (#857)
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
