Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"]
}

craft name check
  src/components/TuningLogDialog.vue
  src/components/WelcomePage.vue
Due: none

added delete option
  src/components/TuningLogDialog.vue
Due: none

adde formatting to ai response
  package-lock.json
  package.json
  src/components/TuningLogDialog.vue
  src/css/tailwind.css
Due: prettier --write --ignore-unknown

tooltpis
  src/components/TuningLogDialog.vue
Due: none

moved pos on auto trim
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

update colours
  src/components/WelcomePage.vue
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

changed colour
  src/components/HeaderDialog.vue
  src/components/LegendPanel.vue
  src/components/UiBox.vue
Due: none

sys config
  package.json
Due: prettier --write --ignore-unknown

added craft filter
  src/components/TuningLogDialog.vue
  src/pinia_instance.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

added border
  src/css/main.css
Due: prettier --write --ignore-unknown

updated css
  public/images/rf_logo_black.svg
  src/css/main.css
Due: prettier --write --ignore-unknown

correct logo
  src/components/AppToolbar.vue
  src/components/WelcomePage.vue
Due: none

default autotrim
  src/user_settings_data.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

sizes
  src/user_settings_data.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

autotrim after seting change
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

change time
  src/components/UserSettingsDialog.vue
Due: none

version
  package.json
Due: prettier --write --ignore-unknown

update code
  src/components/WelcomePage.vue
Due: none

CHANGED PRESETS
  src/data/ai_models.json
  src/data/ws_ctzsnooze.json
  src/data/ws_supafly.json
Due: prettier --write --ignore-unknown

PRESETS
  src/components/TuningLogDialog.vue
  src/components/UserSettingsDialog.vue
  src/components/WorkspacePanel.vue
  src/data/ws_ben.json
  src/main.js
  src/tuning_ai.js
  src/user_settings_data.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Bump pinned actions to Node 24 runtime and version bump
  .github/workflows/build.yml
  .github/workflows/deploy_cloudflare.yml
  package.json
Due: prettier --write --ignore-unknown

updated version etc
  src/components/WelcomePage.vue
  src/css/theme.css
  src/grapher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

removed sonarcloud
  .sonarcloud.properties
Due: none

Bump postcss from 8.5.15 to 8.5.25 (#933) (#2)
  package-lock.json
Due: prettier --write --ignore-unknown

Increase gridline visibility on graph view (#3)
  .sonarcloud.properties
  src/components/WelcomePage.vue
  src/css/theme.css
  src/grapher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Update debugs after Position Estimate changes
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Address review comments
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

sorry fix return
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix debug_mode labels for 2026.6 and 2026.12
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

minor fixes and restore pre 2026 ALTITUDE scaling defaults
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

import semver to graphConfig
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

docs: announce the move into the app and the archive date
  README.md
Due: prettier --write --ignore-unknown

docs: hyphenate read-only
  README.md
Due: prettier --write --ignore-unknown

docs: announce the move into the app and the archive date (#939)
  README.md
Due: prettier --write --ignore-unknown

fixes for GPS_RESCUE_HEADING
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

attempt to reduce duplication
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

attempt to evade sonarCloud
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix typo
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js
