Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"]
}

Added restrictions for the mouse cursor position (#882)
  src/graph_spectrum_plot.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

UI: Enabling Dark Mode
  index.html
  src/css/bootstrap-theme-overrides.css
  src/css/header_dialog.css
  src/css/keys_dialog.css
  src/css/main.css
  src/css/menu.css
  src/css/nouislider-theme.css
  src/css/theme.css
  src/css/user_settings_dialog.css
  src/dark_theme.js
  src/grapher.js
  src/main.js
  src/seekbar.js
  src/theme_colors.js
  src/user_settings_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Removing legacy names etc in the move to dark mode support.
  index.html
  src/flightlog_parser.js
  src/header_dialog.js
  src/imu.js
  src/tools.js
  src/user_settings_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove reference to old controllers.
  index.html
Due: prettier --write --ignore-unknown

Fixing contrast
  src/css/bootstrap-theme-overrides.css
Due: prettier --write --ignore-unknown

fixing the sonar cloud
  src/dark_theme.js
  src/flightlog_video_renderer.js
  src/graph_spectrum_plot.js
  src/jquery.js
  src/main.js
  src/pref_storage.js
  src/screenshot.js
  src/seekbar.js
  src/user_settings_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

More sonar cloud updates and some rabbit requests
  src/dark_theme.js
  src/jquery.js
  src/main.js
  src/pref_storage.js
  src/seekbar.js
  src/theme_colors.js
  src/user_settings_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Last of the Sonar issues
  src/dark_theme.js
  src/pref_storage.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Some "text" colour changes for glyphs and sliders.
  src/css/main.css
  src/css/nouislider-theme.css
Due: prettier --write --ignore-unknown

More contrast CSS
  src/css/main.css
Due: prettier --write --ignore-unknown

Adjusting glyph icons for rabbit
  src/css/main.css
  src/css/theme.css
Due: prettier --write --ignore-unknown

BUILD: Updating github actions to cater for releases
  .github/workflows/build.yml
  .github/workflows/build_release.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy_cloudflare.yml
Due: none

Updated based on Rabbit feedback
  .github/workflows/build.yml
  .github/workflows/build_release.yml
  .github/workflows/deploy.yml
Due: none

Preapre branch does not need build
  .github/workflows/deploy.yml
Due: none

RELEASE: Setting up version for release
  package.json
Due: prettier --write --ignore-unknown

Added flight and debug mode for AUTOPILOT mode
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Corrected typo in firmvare version
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added flight and debug mode fields for AUTOPILOT mode (#904)
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add system load field to GYRO_SAMPLE debug
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Address sonarQube
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Address rabbit - create a new object so original object stays untouched across session reloads
  src/flightlog_fields_presenter.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add system load field to GYRO_SAMPLE debug (#905)
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove unused debug modes
  src/flightlog_fielddefs.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

yarn2npm
  .github/workflows/build.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

Remove the ineffective nested override or convert to global scope
  package.json
Due: prettier --write --ignore-unknown

Add dependency install step before npm start
  README.md
Due: prettier --write --ignore-unknown

node_modules cache is inefficient with npm ci
  .github/workflows/build.yml
Due: none

Use https instead of ssh
  package-lock.json
Due: prettier --write --ignore-unknown

Fix peer dep conflict and handle https / ssl issue
  .github/workflows/build.yml
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

npm audit fix
  package-lock.json
Due: prettier --write --ignore-unknown

npm audit fix
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Fix deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Remove hack
  .github/workflows/build.yml
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Remove yarn logs
  .prettierignore
Due: none

Rebuild lock file to reflect changes
  package-lock.json
Due: prettier --write --ignore-unknown

Try the one from npm
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Move vite to dev deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Remove unused inflection dependency
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown
