Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove dead Bootstrap CSS and convert remaining legacy classes
  src/components/FieldValuesPanel.vue
  src/components/LegendPanel.vue
  src/components/SpectrumAnalyser.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Replace all Bootstrap glyphicons and remove data-toggle attrs
  src/components/LegendPanel.vue
  src/components/SeekBarToolbar.vue
  src/configuration.js
  src/css/main.css
  src/graph_legend.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove dead Bootstrap CSS and add base styles for legacy classes
  src/css/main.css
Due: prettier --write --ignore-unknown

Remove dead Bootstrap tooltip CSS overrides
  src/css/main.css
Due: prettier --write --ignore-unknown

Remove unused theme variables and dead ThemeColors getters
  src/css/theme.css
  src/theme_colors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace $.extend() with spread operator and remove jQuery
  index.html
  public/js/jquery-1.11.3.min.js
  public/js/jquery-ui-1.11.4.min.js
  public/js/jquery.ba-throttle-debounce.js
  src/css/main.css
  src/flightlog.js
  src/flightlog_parser.js
  src/flightlog_video_renderer.js
  src/graph_config.js
  src/grapher.js
  src/main.js
  src/sticks.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove Modernizr and replace Unicode icons with Lucide SVGs
  index.html
  public/js/modernizr-2.6.2-respond-1.1.0.min.js
  src/components/LegendPanel.vue
  src/components/SpectrumAnalyser.vue
  src/configuration.js
  src/css/main.css
  src/graph_legend.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Use inline Lucide SVGs for icons in plain JS and index.html
  index.html
  src/configuration.js
  src/graph_legend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Register Nuxt UI vue-plugin and restyle GraphConfigDialog
  src/components/GraphConfigDialog.vue
  src/dark_theme.js
  src/vue_init.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix structuredClone error on reactive graph config objects
  src/grapher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add UiBox and HelpIcon components, apply to all dialogs
  src/components/GraphConfigDialog.vue
  src/components/HeaderDialog.vue
  src/components/HelpIcon.vue
  src/components/UiBox.vue
  src/components/UserSettingsDialog.vue
Due: none

Restyle spectrum analyser toolbar with Nuxt UI components
  src/components/SpectrumAnalyser.vue
  src/css/main.css
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove dead CSS and legacy Bootstrap class references
  index.html
  src/components/SpectrumAnalyser.vue
  src/configuration.js
  src/css/main.css
  src/graph_legend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace toolbar controls with Nuxt UI components
  src/components/SpeedPanel.vue
  src/components/SyncPanel.vue
  src/components/TimePanel.vue
  src/components/ZoomPanel.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Use vertical arrows for UInputNumber and widen user settings dialog
  src/components/UserSettingsDialog.vue
Due: none

Modernize legend panel with UButton and add gap from canvas
  src/components/LegendPanel.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Remove dead CSS and modernize field values panel headers
  src/components/FieldValuesPanel.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Fix spectrum buttons in fullscreen by excluding file input from display override
  src/components/SpectrumAnalyser.vue
Due: none

Replace seekbar native select with USelect and legacy bridge
  src/components/SeekBarToolbar.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Add gaps between graph canvas, seekbar, and status bar
  src/css/main.css
Due: prettier --write --ignore-unknown

Restore welcome page content, convert sliders to USlider, fix analyser fullscreen
  .gitignore
  src/components/SpectrumAnalyser.vue
  src/components/SpeedPanel.vue
  src/components/WelcomePage.vue
  src/components/ZoomPanel.vue
  src/css/main.css
  src/graph_spectrum.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Redesign welcome page with Betaflight branding and fix analyser button alignment
  src/components/SpectrumAnalyser.vue
  src/components/WelcomePage.vue
Due: none

Modernize navbar and status bar, remove last Bootstrap form-control
  src/components/AppToolbar.vue
  src/components/StatusBar.vue
  src/configuration.js
  src/css/main.css
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Modernize toolbar controls: ghost buttons, neutral badges, compact layout
  src/components/PlaybackControls.vue
  src/components/SpeedPanel.vue
  src/components/SyncPanel.vue
  src/components/ViewControls.vue
  src/components/WorkspacePanel.vue
  src/components/ZoomPanel.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Polish dialog styling: neutral buttons, icons for checkboxes, UProgress
  src/components/GraphConfigDialog.vue
  src/components/HeaderDialog.vue
  src/components/VideoExportDialog.vue
Due: none

Clean up legend, seekbar, and CSS: remove dead rules and vendor prefixes
  src/components/LegendPanel.vue
  src/components/SeekBarToolbar.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Remove ~130 lines dead CSS and replace hardcoded colors with theme variables
  src/css/main.css
Due: prettier --write --ignore-unknown

Remove ~140 more lines dead CSS: view toggles, workspace internals, jump buttons
  src/css/main.css
Due: prettier --write --ignore-unknown

Remove dead CSS and replace hardcoded neutral colors with theme-aware classes
  src/components/ConfigurationPanel.vue
  src/components/GraphLegend.vue
  src/components/HeaderDialog.vue
  src/components/HelpIcon.vue
  src/components/KeysDialog.vue
  src/css/main.css
Due: prettier --write --ignore-unknown

Redesign keyboard shortcuts dialog with wide 4-column card layout and keycap styling
  src/components/KeysDialog.vue
Due: none

Fix code quality issues: unused imports, strict equality, dead variables, type confusion
  src/components/GraphCanvas.vue
  src/components/HeaderDialog.vue
  src/components/SeekBarCanvas.vue
  src/components/VideoExportDialog.vue
  src/configuration.js
  src/css/theme.css
  src/graph_map.js
  src/pref_storage.js
  src/stores/workspace.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud issues: missing braces, duplicate selectors, accessibility, case block scoping
  src/components/KeysDialog.vue
  src/components/LegendPanel.vue
  src/components/SeekBarToolbar.vue
  src/components/VideoExportDialog.vue
  src/configuration.js
  src/css/main.css
  src/pref_storage.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix remaining SonarCloud issues: braces, parseInt, structuredClone, empty spreads, var, DOM modernization
  src/App.vue
  src/components/GraphConfigDialog.vue
  src/components/UserSettingsDialog.vue
  src/components/VideoExportDialog.vue
  src/configuration.js
  src/flightlog_video_renderer.js
  src/graph_legend.js
  src/graph_spectrum.js
  src/graph_spectrum_calc.js
  src/grapher.js
  src/seekbar.js
  src/simple-stats.js
  src/sticks.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud issues in main.js: deprecated e.which, cognitive complexity, unused imports
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix SonarCloud issues: UTable migration, cognitive complexity, accessibility, toolbar markup
  index.html
  src/components/GraphConfigDialog.vue
  src/components/HeaderDialog.vue
  src/components/ParamTable.vue
  src/components/PlaybackControls.vue
  src/components/SpeedPanel.vue
  src/components/SyncPanel.vue
  src/components/TimePanel.vue
  src/components/UserSettingsDialog.vue
  src/components/ViewControls.vue
  src/components/WorkspacePanel.vue
  src/components/ZoomPanel.vue
  src/css/main.css
  src/graph_legend.js
  src/main.js
  src/tools.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix legend panel: solid yellow Graph setup button, wire up toggle buttons
  src/components/LegendPanel.vue
Due: none

Replace keyboard shortcuts tables with UTable, fix legend panel and structuredClone
  src/components/KeysDialog.vue
Due: none

Fix remaining SonarCloud issues and structuredClone regression
  src/components/ConfigurationPanel.vue
  src/components/GraphConfigDialog.vue
  src/components/UserSettingsDialog.vue
  src/css/main.css
  src/grapher.js
  src/main.js
  src/stores/playback.js
  src/tools.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove unnecessary IIFE from BlackboxLogViewer constructor
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
