Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"]
}

fix(pose): worker-boundary guards - strip callbacks, clone-safety check
  src/pose/poseKmlExport.ts
Due: none

fix(pose): restore sigmaYaw=0.15 for no-model path — bias correction needs gain to reach position via F_vθ
  src/pose/__fixtures__/acro1/gps_offset_diagnostic.json
  src/pose/estimatorLoop.ts
  src/pose/gateCalibration.test.ts
  src/pose/magModelDiagnostic.test.ts
  src/pose/poseKmlExport.ts
  src/pose/rawMagBias.test.ts
  src/pose/rawMagBias.ts
Due: prettier --write --ignore-unknown

fix(pose): no-model path uses adaptive sigmaYaw — tight in corners (0.025), loose on straights (0.15)
  src/pose/estimatorLoop.ts
Due: none

fix(pose): revert adaptive sigmaYaw for no-model — flat 0.15 is closest to true position, pre-turn is FC Mahony smoothing artifact
  src/pose/estimatorLoop.ts
Due: none

feat(kml): add animated <gx:Track> with synthetic relative timestamps for Google Earth timeline
  src/pose/serializers/kmlSerializer.ts
Due: none

fix(kml): emit <gx:Track> parallel arrays — all <when> first, then <gx:coord>, then <gx:angles>
  src/pose/serializers/kmlSerializer.ts
Due: none

fix(kml): collect track samples once, emit parallel arrays from identical list — guarantees matching lengths
  src/pose/serializers/kmlSerializer.ts
Due: none

fix(kml): make <gx:Track> the primary fused path (visible), static LineString as hidden backup
  src/pose/serializers/kmlSerializer.ts
Due: none

revert: roll back <gx:Track> timestamps — not working in Google Earth, static LineString restored
  src/pose/serializers/kmlSerializer.ts
Due: none

feat(pose): surgical GPS-vel gate during snaps — SNAP_GYRO_GATE_DPS=Infinity (off by default), suppresses velocity→yaw coupling during rapid rotation
  src/pose/estimatorLoop.ts
Due: none

fix(pose): snapGyroGateDps as EstimatorOpts (default 120), remove hardcoded constant
  src/pose/estimatorLoop.ts
Due: none

revert: remove snapGyroGateDps — broke everything, back to flat sigmaYaw=0.15
  src/pose/estimatorLoop.ts
Due: none

docs(pose): add defensive comments for CodeRabbit findings (preint cov, singular S, mag dim, RTS stencil, nose bearing) — all false positives or dead-guard paths on reference flight
  src/pose/__fixtures__/reference_flight1/gps_offset_diagnostic.json
  src/pose/acroGates.ts
  src/pose/eskf.ts
  src/pose/imuPreintegration.ts
  src/pose/measurements.ts
  src/pose/rtsSmoother.ts
Due: prettier --write --ignore-unknown

fix: clear SonarCloud reliability bugs (last 2 blocking the gate)
  src/components/KmlExportDialog.vue
  src/pose/robustnessNees.test.ts
Due: none

Pin untrusted PR build job token to contents: read
  .github/workflows/build.yml
Due: none

Add explicit permissions blocks for read-default GITHUB_TOKEN
  .github/workflows/stale.yaml
Due: none

Add explicit permissions blocks for read-default GITHUB_TOKEN (#930)
  .github/workflows/stale.yaml
Due: none

Pin untrusted PR build job token to contents: read (#929)
  .github/workflows/build.yml
Due: none

Grant deploy job the permissions its reusable workflow requires
  .github/workflows/deploy.yml
Due: none

Grant release deploy jobs the permissions their reusable workflow requires
  .github/workflows/build_release.yml
Due: none

Grant deploy jobs the permissions their reusable workflow requires (#931)
  .github/workflows/build_release.yml
  .github/workflows/deploy.yml
Due: none

main changes
  index.html
  package-lock.json
  public/images/pwa/rf_icon_128.png
  public/images/pwa/rf_icon_192.png
  public/images/pwa/rf_icon_256.png
  public/images/rf_icon.icns
  public/images/rf_icon.ico
  public/images/rf_icon_128.png
  public/images/rf_logo_white.svg
  src/assets/base.css
  src/assets/logo.svg
  src/assets/main.css
  src/components/AppToolbar.vue
  src/components/SeekBarToolbar.vue
  src/components/StatusBar.vue
  src/components/WelcomePage.vue
  src/craft_3d_heli.js
  src/css/tailwind.css
  src/css/theme.css
  src/flightlog.js
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/flightlog_index.js
  src/flightlog_parser.js
  src/grapher.js
  src/log_lifecycle.js
  src/seekbar.js
  src/sticks.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

update nanes
  index.html
  src/components/AppToolbar.vue
Due: prettier --write --ignore-unknown

update icon
  index.html
Due: prettier --write --ignore-unknown

updated fields
  src/flightlog.js
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

ok
  src/components/ViewControls.vue
Due: none

GOT HELI
  index.html
  package-lock.json
  package.json
  public/resources/models/bell_cw.bin
  public/resources/models/bell_cw.gltf
  public/resources/models/bell_cw.png
  src/craft_3d_heli.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

forked ok
  package-lock.json
  package.json
  src/components/HeaderDialog.test.js
  src/components/HeaderDialog.vue
  src/flightlog_fielddefs.js
  src/flightlog_fielddefs.test.js
  src/flightlog_fields_presenter.js
  src/flightlog_fields_presenter.test.js
  vitest.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Craft
  src/App.vue
  src/components/AppToolbar.vue
  src/components/CraftConfigDialog.vue
  src/components/CraftNameMismatchDialog.vue
  src/components/StatusBar.vue
  src/craft_config.js
  src/craft_config.test.js
  src/graph_spectrum.js
  src/graph_spectrum_plot.js
  src/log_lifecycle.js
  src/stores/app.js
  src/stores/craftConfig.js
  src/stores/craftConfig.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

updated analyser
  src/graph_spectrum_plot.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Step Response graph analysis panel
  index.html
  src/App.vue
  src/components/StepResponseAnalyser.vue
  src/components/UserSettingsDialog.vue
  src/components/ViewControls.vue
  src/css/main.css
  src/flightlog_video_renderer.js
  src/graph_spectrum_calc.js
  src/graph_stepresponse.js
  src/graph_stepresponse_calc.js
  src/graph_stepresponse_calc.test.js
  src/graph_stepresponse_plot.js
  src/grapher.js
  src/main.js
  src/stores/graph.js
  src/tools.js
  src/tools.test.js
  src/user_settings_data.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix Step Response roll/pitch/yaw toggles staying visible when panel is hidden
  src/css/main.css
Due: prettier --write --ignore-unknown

Add Auto Trim: automatically set In/Out points from flight events
  src/auto_trim.js
  src/auto_trim.test.js
  src/components/UserSettingsDialog.vue
  src/main.js
  src/user_settings_data.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Rebrand remaining Betaflight references to Rotorflight
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  README.md
  public/js/webworkers/gpx-export-worker.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Init feature commit
  package-lock.json
  package.json
  src/App.vue
  src/ai_models.json
  src/components/AppToolbar.vue
  src/components/TuningLogDialog.vue
  src/components/UserSettingsDialog.vue
  src/graph_stepresponse.js
  src/graph_stepresponse_plot.js
  src/log_lifecycle.js
  src/stores/app.js
  src/stores/tuningLog.js
  src/tuning_ai.js
  src/tuning_log.js
  src/tuning_log.test.js
  src/user_settings_data.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

moved toolbar buttons
  src/components/AppToolbar.vue
Due: none

a
  src/components/TuningLogDialog.vue
Due: none
