Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added action for setup MinMax values for the window and selected marker interval
  src/App.vue
  src/components/GraphConfigDialog.vue
Due: none

Removed trailing comma
  src/App.vue
Due: none

Resolved zoom functions call typo
  src/components/GraphConfigDialog.vue
Due: none

Curves MinMax control extended menu migration to Vue (#919)
  src/App.vue
  src/components/GraphConfigDialog.vue
Due: none

Added computed fields for PSAS data Sum
  src/flightlog.js
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added setup for PSAS data
  src/flightlog_fielddefs.js
  src/flightlog_fields_presenter.js
  src/graph_config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Use !== instead of !=
  src/flightlog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added high precise mode for the curves min-max values change step
  src/components/GraphConfigDialog.vue
Due: none

Resolved code issues by Coderabbitai
  src/components/GraphConfigDialog.vue
Due: none

fix: spectrum analysis crash on long logs (Freq/PSD vs Throttle/RPM)
  src/graph_spectrum_calc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix: spectrum analysis crash on long logs (Freq/PSD vs Throttle/RPM) (#923)
  src/graph_spectrum_calc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Added high precise mode for the curves min-max values change step (#921)
  src/components/GraphConfigDialog.vue
Due: none

chore: add TypeScript tooling foundation (#924 Phase 0)
  .github/workflows/build.yml
  eslint.config.mjs
  package-lock.json
  package.json
  src/env.d.ts
  tsconfig.json
Due: prettier --write --ignore-unknown

refactor: convert flightlog_fielddefs to TypeScript (#924 Phase 2)
  package-lock.json
  package.json
  src/flightlog_fielddefs.ts
Due: prettier --write --ignore-unknown

refactor: convert datastream + decoders to TypeScript (#924 Phase 2)
  src/datastream.js
  src/datastream.ts
  src/decoders.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor: convert fft_complex to TypeScript (#924 Phase 2)
  src/fft_complex.ts
Due: none

test: add golden-file characterization test for flightlog_parser (#924)
  .github/workflows/build.yml
  package-lock.json
  package.json
  test/fixtures/parser.golden.json
  test/fixtures/synthetic_log.mjs
  test/parser.golden.test.mjs
Due: prettier --write --ignore-unknown

test: harden parser golden test with GPS/slow/event frames + tag encodings (#924)
  test/fixtures/parser.golden.complex.json
  test/fixtures/parser.golden.json
  test/fixtures/synthetic_log.mjs
  test/parser.golden.test.mjs
Due: prettier --write --ignore-unknown

refactor: convert flightlog_parser to TypeScript (#924 Phase 2)
  src/flightlog_parser.ts
  src/flightlog_types.ts
Due: none

refactor: convert flightlog to TypeScript (#924 Phase 2)
  src/flightlog.ts
  src/flightlog_types.ts
Due: none

refactor: convert core dependency utilities to TypeScript (#924)
  src/cache.ts
  src/flightlog.ts
  src/flightlog_index.ts
  src/flightlog_types.ts
  src/gps_transform.ts
  src/imu.ts
  src/tools.ts
Due: none

refactor: convert small pure-logic core utils to TypeScript (#924)
  src/configuration.ts
  src/csv-exporter.ts
  src/expo.ts
  src/export_utils.js
  src/export_utils.ts
  src/gpx-exporter.ts
  src/simple-stats.ts
  src/spectrum-exporter.js
  src/spectrum-exporter.ts
  src/user_settings_data.ts
  src/workspace_io.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor: convert graph_spectrum_calc to TypeScript (#924)
  src/flightlog.ts
  src/graph_spectrum_calc.ts
Due: none

refactor: convert flightlog_fields_presenter to TypeScript (#924)
  src/flightlog_fields_presenter.ts
Due: none

refactor: extract useBlackboxViewer composable; start Pinia bridge collapse (#924 Phase 1)
  src/components/SpectrumAnalyser.vue
  src/composables/use_blackbox_viewer.js
  src/main.js
  src/stores/graph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor: collapse appStore callback bridge into composable (#924 Phase 1)
  src/App.vue
  src/composables/use_blackbox_viewer.js
  src/dark_theme.js
  src/stores/app.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor: collapse graph/playback/workspace callback bridges into composable (#924 Phase 1)
  src/App.vue
  src/components/LegendPanel.vue
  src/components/SeekBarToolbar.vue
  src/composables/use_blackbox_viewer.js
  src/stores/graph.js
  src/stores/playback.js
  src/stores/workspace.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

fix: defer viewer init until after Vue mount (#924 Phase 1)
  src/composables/use_blackbox_viewer.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor: convert Pinia stores to TypeScript (#924 Phase 3)
  src/pinia_instance.ts
  src/stores/app.ts
  src/stores/graph.ts
  src/stores/log.ts
  src/stores/playback.ts
  src/stores/settings.ts
  src/stores/workspace.ts
Due: none

refactor: convert 24 small/medium components to <script setup lang="ts"> (#924 Phase 4)
  src/components/AppToolbar.vue
  src/components/ConfigurationPanel.vue
  src/components/CraftView.vue
  src/components/FeatureTable.vue
  src/components/FieldValuesPanel.vue
  src/components/HelpIcon.vue
  src/components/LogFileInput.vue
  src/components/MapView.vue
  src/components/ParamTable.vue
  src/components/PercentInput.vue
  src/components/PidTable.vue
  src/components/PlaybackControls.vue
  src/components/PositionInputs.vue
  src/components/SeekBarToolbar.vue
  src/components/SettingRow.vue
  src/components/SpeedPanel.vue
  src/components/StatusBar.vue
  src/components/StickDisplay.vue
  src/components/SyncPanel.vue
  src/components/TimePanel.vue
  src/components/UiBox.vue
  src/components/ViewControls.vue
  src/components/WorkspacePanel.vue
  src/components/ZoomPanel.vue
  src/composables/blackbox_viewer_ops.ts
  src/composables/use_blackbox_viewer.js
  src/stores/log.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor: convert App.vue + 6 larger components to lang="ts" (#924 Phase 4)
  src/App.vue
  src/components/KeysDialog.vue
  src/components/LegendPanel.vue
  src/components/SpectrumAnalyser.vue
  src/components/UserSettingsDialog.vue
  src/components/VideoExportDialog.vue
  src/components/WelcomePage.vue
  src/stores/graph.ts
Due: none

refactor: convert GraphConfigDialog + HeaderDialog to lang=ts (#924 Phase 4)
  src/components/GraphConfigDialog.vue
  src/components/HeaderDialog.vue
  src/env.d.ts
Due: none

refactor: convert graph_config.js to TypeScript (#924 Phase 5)
  src/graph_config.ts
Due: none

refactor: convert grapher.js to TypeScript (#924 Phase 5)
  src/grapher.ts
Due: none

refactor: convert graph_spectrum_plot.js + graph_spectrum.js to TS (#924 Phase 5)
  src/env.d.ts
  src/graph_spectrum.ts
  src/graph_spectrum_plot.ts
  src/grapher.ts
Due: none

refactor: convert graph_map.js + seekbar.js to TypeScript (#924 Phase 5)
  src/env.d.ts
  src/graph_map.ts
  src/seekbar.ts
  src/user_settings_data.ts
Due: none

refactor: convert sticks.js + craft_2d.js + craft_3d.js to TS (#924 Phase 5)
  src/craft_2d.ts
  src/craft_3d.ts
  src/env.d.ts
  src/grapher.ts
  src/sticks.ts
Due: none

refactor: convert flightlog_video_renderer + small renderer helpers to TS (#924 Phase 5)
  src/components/VideoExportDialog.vue
  src/env.d.ts
  src/flightlog_video_renderer.ts
  src/graph_imported_curves.ts
  src/graph_spectrum_plot.ts
  src/grapher.ts
  src/laptimer.ts
  src/pen_adjustment.ts
  src/theme_colors.ts
  src/values_display.ts
Due: none

refactor: convert the Vue/DOM-glue layer to TypeScript (#924 Phase 5)
  src/dark_theme.ts
  src/env.d.ts
  src/graph_map.ts
  src/graph_spectrum.ts
  src/keyboard_handler.ts
  src/log_lifecycle.ts
  src/main.ts
  src/nuxt_ui_router.ts
  src/playback_controls.ts
  src/pref_storage.ts
  src/screenshot.ts
  src/stores/graph.ts
  src/stores/settings.ts
  src/video_handler.ts
  src/vue_init.ts
Due: none

refactor: convert use_blackbox_viewer composable to TypeScript (#924 Phase 5)
  src/composables/use_blackbox_viewer.ts
  src/playback_controls.ts
  src/stores/playback.ts
  src/tools.ts
  src/video_handler.ts
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
