Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor: type graph-store renderer instances, drop their Loose aliases (#924 Phase 5 cleanup)
  src/composables/use_blackbox_viewer.ts
  src/log_lifecycle.ts
  src/playback_controls.ts
  src/stores/graph.ts
  src/video_handler.ts
Due: none

refactor: type GraphConfigDialog renderer props, simplify App.vue (#924 Phase 5 cleanup)
  src/App.vue
  src/components/GraphConfigDialog.vue
Due: none

build: enable checkJs, tighten tsconfig, convert the last JS file (#924)
  src/flightlog_fields_presenter.ts
  src/vendor.ts
  src/workspace_io.ts
  tsconfig.json
Due: prettier --write --ignore-unknown

refactor: shared graph-config model (#924 Phase 6)
  src/components/GraphConfigDialog.vue
  src/composables/use_blackbox_viewer.ts
  src/graph_config.ts
  src/graph_types.ts
  src/stores/graph.ts
Due: none

refactor: type GraphConfig.getGraphs/setGraphs with the shared model (#924 Phase 6)
  src/graph_config.ts
Due: none

refactor: type getActivitySummary, de-Loose log_lifecycle (#924 Phase 6)
  src/flightlog.ts
  src/flightlog_types.ts
  src/log_lifecycle.ts
Due: none

refactor: de-Loose flightLog in video_handler + playback_controls (#924 Phase 6)
  src/playback_controls.ts
  src/video_handler.ts
Due: none

refactor: de-Loose flightLog in the composable (#924 Phase 6)
  src/composables/use_blackbox_viewer.ts
Due: none

refactor: type FlightLog.getCurrentFrameAtTime return (#924 Phase 6)
  src/flightlog.ts
Due: none

refactor: type grapher's flightLog as FlightLog (#924 Phase 6, frame data)
  src/grapher.ts
Due: none

refactor: type flightLog as FlightLog in the remaining renderers (#924 Phase 6)
  src/craft_2d.ts
  src/craft_3d.ts
  src/graph_map.ts
  src/graph_spectrum.ts
  src/sticks.ts
Due: none

refactor: type grapher's sticks/craft sub-objects (#924 Phase 6)
  src/grapher.ts
Due: none

fix: resolve SonarCloud quality-gate findings on the migrated code (#924)
  src/flightlog_fields_presenter.ts
  src/tools.ts
Due: none

fix(migration): address CodeRabbit review feedback (round 1)
  src/datastream.ts
  src/flightlog.ts
  src/flightlog_fields_presenter.ts
  src/flightlog_index.ts
  src/flightlog_parser.ts
  src/graph_spectrum_calc.ts
  src/laptimer.ts
  src/simple-stats.ts
  src/tools.ts
Due: none

style(migration): clear safe SonarCloud new-code smells
  src/composables/use_blackbox_viewer.ts
  src/craft_2d.ts
  src/craft_3d.ts
  src/flightlog.ts
  src/flightlog_fielddefs.ts
  src/flightlog_fields_presenter.ts
  src/flightlog_parser.ts
  src/flightlog_video_renderer.ts
  src/gps_transform.ts
  src/graph_config.ts
  src/graph_imported_curves.ts
  src/graph_map.ts
  src/graph_spectrum_calc.ts
  src/graph_spectrum_plot.ts
  src/grapher.ts
  src/imu.ts
  src/laptimer.ts
  src/playback_controls.ts
  src/sticks.ts
  src/tools.ts
Due: none

style(migration): clear per-site SonarCloud smells (deferred set)
  src/configuration.ts
  src/datastream.ts
  src/expo.ts
  src/flightlog.ts
  src/flightlog_fields_presenter.ts
  src/flightlog_parser.ts
  src/gps_transform.ts
  src/graph_spectrum_calc.ts
  src/graph_spectrum_plot.ts
  src/grapher.ts
  src/laptimer.ts
  src/playback_controls.ts
  src/sticks.ts
  src/tools.ts
  test/fixtures/synthetic_log.mjs
  test/parser.golden.test.mjs
Due: none

fix(simple-stats): guard time bounds against the false sentinel
  src/simple-stats.ts
Due: none

chore(tsconfig): drop allowJs/checkJs — migration is 100% TypeScript
  tsconfig.json
Due: prettier --write --ignore-unknown

fix(graph-spectrum): guard analyser resize against a null parent
  src/graph_spectrum.ts
Due: none

fix(graph-store): drop fullscreen when hiding the analyser via the legend
  src/stores/graph.ts
Due: none

perf(export): transfer flattened frames to the CSV/GPX workers
  public/js/webworkers/csv-export-worker.js
  public/js/webworkers/gpx-export-worker.js
  src/csv-exporter.ts
  src/export_frames.ts
  src/gpx-exporter.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

style(migration): clear safe SonarCloud smells in new/touched code
  src/composables/use_blackbox_viewer.ts
  src/export_frames.ts
  src/graph_config.ts
  src/graph_spectrum_plot.ts
Due: none

test(export): add CSV/GPX golden test; convert config + test harness to TS
  .github/workflows/build.yml
  package.json
  test/export.golden.test.ts
  test/fixtures/export.golden.csv
  test/fixtures/export.golden.gpx
  test/fixtures/synthetic_log.ts
  test/parser.golden.test.ts
  vite.config.ts
Due: prettier --write --ignore-unknown

refactor(workers): migrate the export Web Workers to TypeScript
  public/js/webworkers/csv-export-worker.js
  public/js/webworkers/gpx-export-worker.js
  public/js/webworkers/spectrum-export-worker.js
  src/csv-exporter.ts
  src/gpx-exporter.ts
  src/spectrum-exporter.ts
  src/workers/csv-export-worker.ts
  src/workers/csv_export.ts
  src/workers/export_rows.ts
  src/workers/gpx-export-worker.ts
  src/workers/gpx_export.ts
  src/workers/spectrum-export-worker.ts
  src/workers/spectrum_export.ts
  test/export.golden.test.ts
  test/fixtures/export.golden.spectrum.csv
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

chore(tooling): convert eslint config + last test to TS; drop dead legacy
  eslint.config.ts
  package-lock.json
  package.json
  test/expo.test.ts
  test/index.html
  test/index.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

refactor(types): retire the intentional Loose = any data surfaces (#924 Phase 6)
  src/components/HeaderDialog.vue
  src/composables/use_blackbox_viewer.ts
  src/flightlog_video_renderer.ts
  src/pen_adjustment.ts
Due: none

style(migration): clear new-code SonarCloud smells
  src/pen_adjustment.ts
  src/workers/csv-export-worker.ts
  src/workers/gpx-export-worker.ts
  src/workers/spectrum-export-worker.ts
  test/expo.test.ts
  test/export.golden.test.ts
Due: none

style(migration): clear safe negated-condition smells (S7735/S3358)
  src/craft_2d.ts
  src/flightlog.ts
  src/flightlog_index.ts
  src/flightlog_parser.ts
  src/graph_spectrum_plot.ts
  test/export.golden.test.ts
Due: none

test(flightlog): golden-cover the computed-field pipeline
  package.json
  test/fixtures/flightlog.golden.complex.json
  test/fixtures/flightlog.golden.json
  test/flightlog.golden.test.ts
Due: prettier --write --ignore-unknown

fix(graph-store): remember spectrum fullscreen across hide/show
  src/stores/graph.ts
Due: none

feat(pose): output layer - port csv/kml/gpx serializers + tests, replace stub with real pipeline, add web worker (M3)
  src/components/KmlExportDialog.vue
  src/pose/__fixtures__/acro1/accuracy_report.json
  src/pose/__fixtures__/acro1/acro1_posetrack.json
  src/pose/__fixtures__/acro1/acro1_track.kml
  src/pose/accuracyReport.test.ts
  src/pose/acroKml.test.ts
  src/pose/gpsHomeDecode.test.ts
  src/pose/magTransformValidation.test.ts
  src/pose/poseKmlExport.js
  src/pose/poseKmlExport.ts
  src/pose/poseWorker.ts
  src/pose/serializers/csvSerializer.ts
  src/pose/serializers/gpxSerializer.ts
  src/pose/serializers/kmlSerializer.ts
  src/pose/serializers/serializers.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

chore(pose): reviewer-legibility - remove planv5/shorthand references from shipped code, add typecheck + lint infrastructure (M4)
  package-lock.json
  package.json
  src/pose/accuracyReport.test.ts
  src/pose/acroKml.test.ts
  src/pose/ambient.d.ts
  src/pose/eskf.ts
  src/pose/eskfMag.test.ts
  src/pose/estimatorLoop.ts
  src/pose/estimatorLoopMag.test.ts
  src/pose/flightIngestion.ts
  src/pose/magTransformValidation.test.ts
  src/pose/measurements.ts
  src/pose/serializers/csvSerializer.ts
  src/pose/serializers/gpxSerializer.ts
  src/pose/serializers/kmlSerializer.ts
  src/pose/synthetic.test.ts
  tsconfig.json
Due: prettier --write --ignore-unknown

fix(pose): worker serialization + KML path/triad/GPS rendering
  src/components/KmlExportDialog.vue
  src/pose/poseKmlExport.ts
  src/pose/poseWorker.ts
Due: none

feat(pose): log-capability probe with GPS-takeoff-lock gate
  src/pose/logCapabilities.test.ts
  src/pose/logCapabilities.ts
Due: none

feat(ui): KML export capability checklist with hard button gating
  src/components/KmlExportDialog.vue
Due: none

feat(pose): smooth per-decile progress cadence in forward pass
  src/pose/estimatorLoop.ts
  src/pose/progressCadence.test.ts
Due: none

test(pose): split suite CI-cheap vs heavy (RUN_INTEGRATION gate)
  package-lock.json
  package.json
  src/pose/accuracyReport.test.ts
  src/pose/acroFixture.test.ts
  src/pose/acroKml.test.ts
  src/pose/gpsHomeDecode.test.ts
  src/pose/logCapabilities.test.ts
  src/pose/magTransformValidation.test.ts
  src/pose/outputHzFidelity.test.ts
  src/pose/testHelpers.ts
Due: prettier --write --ignore-unknown

test(pose): reference-flight checksum verification (off CI)
  src/pose/__fixtures__/acro1/checksums.json
  src/pose/acroKml.test.ts
Due: prettier --write --ignore-unknown

fix(pose): zero type errors - .d.ts shims, null/undefined alignment, optional fields
  src/flightlog.d.ts
  src/flightlog_parser.d.ts
  src/pose/acroFixture.test.ts
  src/pose/dynamicValidation.test.ts
  src/pose/eskf.ts
  src/pose/eskfMag.test.ts
  src/pose/flightIngestion.ts
  src/pose/magTransformValidation.test.ts
  src/pose/mag_correction.d.ts
  src/pose/mag_model.d.ts
  src/pose/outputHzFidelity.test.ts
  src/pose/progressCadence.test.ts
  src/pose/synthetic.ts
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{tsx,js}) or (any of: **/*.{html,md,mdx,less,css,json})
  eslint --fix --ext .tsx,.js: any of: **/*.{tsx,js}
