Repository betaflight/blackbox-log-viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

.lintstagedrc:

{
    "**/*.{tsx,js}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .tsx,.js"
    ],
    "**/*.{html,md,mdx,less,css,json}": ["prettier --write --ignore-unknown"]
}

Update eslint 9 to 10, eslint-config-prettier 8 to 10
  .eslintrc.js
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Vue 3 + Nuxt UI + Tailwind CSS + Pinia foundation
  .gitignore
  CLAUDE.md
  index.html
  package-lock.json
  package.json
  src/App.vue
  src/css/tailwind.css
  src/pinia_instance.js
  src/vue_init.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Pinia stores for state management
  src/stores/app.js
  src/stores/graph.js
  src/stores/log.js
  src/stores/playback.js
  src/stores/settings.js
  src/stores/workspace.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Add Vue layout and navigation components
  src/App.vue
  src/components/AppToolbar.vue
  src/components/LogFileInput.vue
  src/components/PlaybackControls.vue
  src/components/StatusBar.vue
  src/components/ViewControls.vue
  src/components/WelcomePage.vue
Due: none

Add Vue canvas wrapper components
  src/App.vue
  src/components/CraftView.vue
  src/components/GraphCanvas.vue
  src/components/MapView.vue
  src/components/SeekBarCanvas.vue
  src/components/SpectrumAnalyser.vue
  src/components/StickDisplay.vue
Due: none

Add Vue dialog and panel components
  src/components/ConfigurationPanel.vue
  src/components/GraphConfigDialog.vue
  src/components/GraphLegend.vue
  src/components/HeaderDialog.vue
  src/components/KeysDialog.vue
  src/components/UserSettingsDialog.vue
  src/components/VideoExportDialog.vue
Due: none

Remove internal docs from tracking, add to gitignore
  .gitignore
  CLAUDE.md
Due: prettier --write --ignore-unknown

Add bridge layer between Vue components and legacy code
  src/App.vue
  src/main.js
  src/vue_init.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace legacy KeysDialog with Vue component
  index.html
  src/components/KeysDialog.vue
  src/keys_dialog.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace legacy UserSettingsDialog with Vue component
  index.html
  src/App.vue
  src/components/UserSettingsDialog.vue
  src/main.js
  src/user_settings_data.js
  src/user_settings_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Wire Pinia stores to legacy state via syncToStores
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove unnecessary defineExpose imports
  src/components/CraftView.vue
  src/components/GraphCanvas.vue
  src/components/MapView.vue
  src/components/SeekBarCanvas.vue
  src/components/SpectrumAnalyser.vue
  src/components/StickDisplay.vue
Due: none

Replace legacy GraphConfigDialog with Vue component
  index.html
  src/App.vue
  src/components/GraphConfigDialog.vue
  src/graph_config_dialog.js
  src/graph_minmax_setting_menu.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace legacy HeaderDialog with Vue component
  index.html
  src/App.vue
  src/components/HeaderDialog.vue
  src/css/header_dialog.css
  src/header_dialog.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Wire status bar data from legacy code into Pinia stores
  src/components/PlaybackControls.vue
  src/components/StatusBar.vue
  src/main.js
  src/stores/app.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Activate Vue layout components via Teleport
  index.html
  src/App.vue
  src/components/AppToolbar.vue
  src/main.js
  src/stores/app.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace legacy VideoExportDialog with Vue component
  index.html
  src/App.vue
  src/components/VideoExportDialog.vue
  src/main.js
  src/video_export_dialog.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove unused update dialog HTML
  index.html
Due: prettier --write --ignore-unknown

Remove dead CSS for keys and user settings dialogs
  index.html
  src/css/keys_dialog.css
  src/css/user_settings_dialog.css
Due: prettier --write --ignore-unknown

Replace legacy playback panel with Vue PlaybackControls
  index.html
  src/App.vue
  src/components/PlaybackControls.vue
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace legacy View and Overlay panels with Vue ViewControls
  index.html
  src/App.vue
  src/components/ViewControls.vue
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace legacy Time and Sync panels with Vue components
  index.html
  src/App.vue
  src/components/SyncPanel.vue
  src/components/TimePanel.vue
  src/main.js
  src/stores/app.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace legacy Speed and Zoom panels with Vue components
  index.html
  src/App.vue
  src/components/SpeedPanel.vue
  src/components/ZoomPanel.vue
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace workspace panel with Vue component and remove noUiSlider
  index.html
  public/css/jquery.nouislider.min.css
  src/App.vue
  src/components/WorkspacePanel.vue
  src/css/main.css
  src/css/menu.css
  src/css/nouislider-theme.css
  src/main.js
  src/stores/workspace.js
  src/vendor.js
  src/vendor/jquery.nouislider.all.min.js
  src/workspace_menu.js
  src/workspace_selection.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove dead jQuery handlers and fix status bar bridge
  src/App.vue
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix toolbar layout, file open, and vue-router warning
  index.html
  src/App.vue
  src/components/AppToolbar.vue
  src/components/PlaybackControls.vue
  src/components/SpeedPanel.vue
  src/components/SyncPanel.vue
  src/components/TimePanel.vue
  src/components/ViewControls.vue
  src/components/WelcomePage.vue
  src/components/WorkspacePanel.vue
  src/components/ZoomPanel.vue
  src/css/main.css
  src/main.js
  src/nuxt_ui_router.js
  src/vue_init.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Move remaining legacy HTML sections into Vue components
  index.html
  src/App.vue
  src/components/FieldValuesPanel.vue
  src/components/LegendPanel.vue
  src/components/SeekBarToolbar.vue
  src/components/SpectrumAnalyser.vue
Due: prettier --write --ignore-unknown

Fix stale legacy state in dialogs and analyser fullscreen button
  src/App.vue
  src/components/SpectrumAnalyser.vue
  src/css/main.css
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace jQuery with vanilla DOM in framework-agnostic modules
  src/configuration.js
  src/flightlog.js
  src/flightlog_parser.js
  src/flightlog_video_renderer.js
  src/graph_legend.js
  src/graph_map.js
  src/graph_spectrum.js
  src/graph_spectrum_calc.js
  src/grapher.js
  src/screenshot.js
  src/seekbar.js
  src/tools.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Replace jQuery with vanilla DOM in main.js
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove jQuery, jQuery UI, and Bootstrap dependencies
  package-lock.json
  package.json
  src/css/main.css
  src/graph_legend.js
  src/jquery.js
  src/main.js
  src/vendor.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Remove lodash dependency and dead Bootstrap CSS overrides
  package-lock.json
  package.json
  public/js/lodash.min.js
  public/js/webworkers/csv-export-worker.js
  public/js/webworkers/gpx-export-worker.js
  src/css/bootstrap-theme-overrides.css
  src/css/main.css
  src/csv-exporter.js
  src/gpx-exporter.js
  src/simple-stats.js
  src/spectrum-exporter.js
  src/vendor.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix invisible primary button text on welcome screen
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix missing --ui-primary and replace Bootstrap button in legend panel
  src/components/LegendPanel.vue
  src/css/tailwind.css
Due: prettier --write --ignore-unknown

Restore container-fluid padding lost with Bootstrap removal
  src/css/main.css
Due: prettier --write --ignore-unknown

Improve HeaderDialog layout: 4-column grid, fullscreen modal
  src/components/HeaderDialog.vue
Due: none

Apply modal z-index fix globally via vite.config.js
  src/components/HeaderDialog.vue
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Fix duplicate rows in Field Values panel and styling
  src/components/FieldValuesPanel.vue
  src/css/main.css
  src/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .tsx,.js

Restyle logo bar with dark background using Tailwind utilities
  src/components/AppToolbar.vue
Due: none

Convert action bar to Tailwind utilities and remove style block
  src/components/AppToolbar.vue
Due: none
